<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1,
        h2 {
            color: #333;
        }

        p {
            color: #666;
        }

        .section {
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <header>
            <h1>
                <%= title %>
            </h1>
            <p>This is my personal resume page.</p>
        </header>

        <section class="section">
            <h2>About Me</h2>
            <p>I am Achini, currently studying M.Sc. Information Technology.</p>
        </section>

        <section class="section">
            <h2>Education</h2>
            <p>B.Sc in IT, [SLIIT | LK], [2019]</p>
        </section>

        <section class="section">
            <h2>Skills</h2>
            <ul>
                <li>Object Oriented Programming</li>
                <li>Data Structures and Algorithms,</li>
                <li>DBMS</li>
                <li>Data Analysis</li>
                <li>Requirement Analysis and Modelling</li>
                <li>Interpersonal communication</li>
            </ul>
        </section>

        <section class="section">
            <h2>Contact Information</h2>
            <p>Email: xxxxx@xxx.com</p>
            <p>Phone: xxxxxxxxxx</p>
        </section>
    </div>
</body>

</html>